jobs:
  build:
    name: GHC ${{ matrix.ghc }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - run: mkdir artifact
      - uses: haskell/ghcup-setup@v1
        with:
          ghc: ${{ matrix.ghc }}
          cabal: latest
      - run: ghc-pkg list
      - run: cabal sdist --output-dir artifact
      - run: cabal configure --enable-documentation --enable-optimization=2 --flags=pedantic --haddock-for-hackage --jobs
      - run: cat cabal.project.local
      - run: cp cabal.project.local artifact
      - run: cabal update
      - run: cabal freeze
      - run: cat cabal.project.freeze
      - run: cp cabal.project.freeze artifact
      - run: cabal outdated --v2-freeze-file
      - uses: actions/cache@v5
        with:
          key: ${{ matrix.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          path: ~/.local/state/cabal
          restore-keys: ${{ matrix.os }}-${{ matrix.ghc }}-
      - run: cabal build --only-download
      - run: cabal build --only-dependencies
      - run: cabal build
      - run: cp dist-newstyle/github-release-*-docs.tar.gz artifact
      - run: cp $( cabal list-bin github-release ) artifact
      - run: tar --create --file artifact.tar --verbose artifact
      - uses: actions/upload-artifact@v6
        with:
          name: github-release-${{ github.sha }}-ghc-${{ matrix.ghc }}-${{ matrix.os }}
          path: artifact.tar
    strategy:
      matrix:
        include:
          - ghc: 9.12
            os: macos-14
          - ghc: 9.8
            os: ubuntu-24.04
          - ghc: '9.10'
            os: ubuntu-24.04
          - ghc: 9.12
            os: ubuntu-24.04
          - ghc: 9.12
            os: windows-2022
  cabal:
    name: Cabal
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cabal check
  hlint:
    name: HLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: haskell-actions/hlint-setup@v2
      - uses: haskell-actions/hlint-run@v2
        with:
          fail-on: status
  gild:
    name: Gild
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: tfausak/cabal-gild-setup-action@v2
      - run: cabal-gild --input github-release.cabal --mode check
  ormolu:
    name: Ormolu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: haskell-actions/run-ormolu@v17
  release:
    env:
      PREFIX: github-release-${{ github.event.release.tag_name }}
    if: ${{ github.event_name == 'release' }}
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v6
      - run: sh -exc 'for d in *; do cd $d; tar --extract --file artifact.tar --verbose; cd ..; done'
      - run: cp github-release-${{ github.sha }}-ghc-9.12-ubuntu-24.04/artifact/${{ env.PREFIX }}.tar.gz .
      - run: tar --auto-compress --create --file ../../${{ env.PREFIX }}-darwin-x64.tar.gz --verbose github-release
        working-directory: github-release-${{ github.sha }}-ghc-9.12-macos-13/artifact
      - run: tar --auto-compress --create --file ../../${{ env.PREFIX }}-darwin-arm64.tar.gz --verbose github-release
        working-directory: github-release-${{ github.sha }}-ghc-9.12-macos-14/artifact
      - run: tar --auto-compress --create --file ../../${{ env.PREFIX }}-linux-x64.tar.gz --verbose github-release
        working-directory: github-release-${{ github.sha }}-ghc-9.12-ubuntu-24.04/artifact
      - run: tar --auto-compress --create --file ../../${{ env.PREFIX }}-win32-x64.tar.gz --verbose github-release.exe
        working-directory: github-release-${{ github.sha }}-ghc-9.12-windows-2022/artifact
      - uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.PREFIX }}*.tar.gz
      - run: cabal upload --publish --username '${{ secrets.HACKAGE_USERNAME }}' --password '${{ secrets.HACKAGE_PASSWORD }}' ${{ env.PREFIX }}.tar.gz
      - run: cabal --http-transport=plain-http upload --documentation --publish --username '${{ secrets.HACKAGE_USERNAME }}' --password '${{ secrets.HACKAGE_PASSWORD }}' github-release-${{ github.sha }}-ghc-9.12-ubuntu-24.04/artifact/${{ env.PREFIX }}-docs.tar.gz
name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  release:
    types:
      - created
